<p>Bonjour,</p>

<p>Vous avez reçu un nouveau message de {{ name }}</p>
<p>Adresse mail : {{ email }}</p>
<p>Numéro de téléphone: {{ phone }}</p>
<hr>
<p><strong>Sujet : {{ subject }}</strong></p>

<p><strong>{{ message }}</strong></p>
