{% extends ':front/layout:base.html.twig' %}

{% block body %}
    <div class="page-wrap">
        <!-- BREADCRUMBS-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs">
                        <a href="{{ path('app_front_home') }}">Accueil</a>
                        <span class="sep">/</span>
                        <span class="current">Nous contacter</span>
                    </div>
                    <h2 class="page-title">Nous contacter</h2>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS -->

        <!-- MAP&FORM -->
        <div class="full-width map-wrap">

            <div id="map-canvas" style="width: 100%; height: 825px;">
                <img height="100%" width="100%" src="{{ asset('assets/images/contact.jpeg') }}" alt="">
            </div>

            <div class="contact-form-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="contact-form">

                                {# pass an array argument to get the messages of those types  #}
                                {% for label, messages in app.flashes(['success', 'error']) %}
                                    {% for message in messages %}
                                       <h3>{{ message }} <i class="fa fa-check"></i></h3>
                                    {% endfor %}
                                {% endfor %}
                                <h3>Envoyer un message</h3>
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MAP&FORM -->

        <!-- ADDRESS -->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 address">
                    <i class="fa fa-map-marker"></i>
                    <span>Orry La Ville 60560 - 30, Rue des Jonquilles</span>
                </div>
                <div class="col-md-4 col-sm-4 address">
                    <i class="fa fa-phone"></i>
                    <span>06 52 65 33 44</span>
                </div>
                <div class="col-md-4 col-sm-4 address">
                    <i class="fa fa-envelope"></i>
                    <span>p.romeo@comeback-immo.fr</span>
                </div>
            </div>
        </div>
        <!-- ADDRESS -->
    </div>
{% endblock %}