{% extends ':front/layout:base.html.twig' %}

{% block body %}
    <div class="flexslider" id="slider">
        <ul class="slides">
            <li>
                <img src="{{ asset('assets/images/homepage/hompage1.jpg') }}" class="img-responsive" alt="Slider Image" />
            </li>
            <li>
                <img src="{{ asset('assets/images/homepage/hompage2.jpg') }}" class="img-responsive" alt="Slider Image" />
            </li>
            <li>
                <img src="{{ asset('assets/images/homepage/hompage3.jpeg') }}" class="img-responsive" alt="Slider Image" />
            </li>
            <li>
                <img src="{{ asset('assets/images/homepage/hompage4.jpeg') }}" class="img-responsive" alt="Slider Image" />
            </li>
            <li>
                <img src="{{ asset('assets/images/homepage/hompage5.jpeg') }}" class="img-responsive" alt="Slider Image" />
            </li>
            <li>
                <img src="{{ asset('assets/images/homepage/homepage6.jpeg') }}" class="img-responsive" alt="Slider Image" />
            </li>
            <li>
                <img src="{{ asset('assets/images/homepage/homepage7.jpeg') }}" class="img-responsive" alt="Slider Image" />
            </li>
            <li>
                <img src="{{ asset('assets/images/homepage/homepage8.jpeg') }}" class="img-responsive" alt="Slider Image" />
            </li>
        </ul>
    </div>
    <!-- SLIDER -->

    <!-- FILTER -->
    <div class="container">
        {{ render(controller('AppBundle\\Controller\\Front\\PropertyController::searchAction')) }}
    </div>
    <!-- FILTER -->

    <!-- ITEMS GRID -->
    <div class="container">
        <div class="row">

            {% for propertyRow in properties|batch(3) %}
                {% for row in propertyRow %}
                    {% set property = row %}
                    {% include ':front/default:property_block.html.twig' with  {'property': property, 'col': 'col-md-4 col-sm-6'} %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <!-- ITEMS GRID -->

    {#<!-- BANNER -->#}
    {#<div class="full-width-white design">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-5 col-sm-5">#}
                    {#<article>#}
                        {#<h2>interior Design as gift</h2>#}
                        {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>#}
                        {#<button type="button" class="btn btn-danger">learn more</button>#}
                    {#</article>#}
                {#</div>#}
                {#<div class="col-md-7 col-sm-7">#}
                    {#<figure>#}
                        {#<img src="{{ asset('assets/images/gift-design.png') }}" alt="Image">#}
                    {#</figure>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<!-- BANNER -->#}

    {#<!-- BLOG -->#}
    {#<div class="full-width home-posts blog-posts">#}
        {#<div class="container">#}
            {#<div class="row">#}

                {#<div class="col-md-6">#}
                    {#<div class="post clearfix">#}
                        {#<figure>#}
                            {#<a href="#"><img src="{{ asset('assets/images/post1.png') }}" alt="" class="img-responsive" ></a>#}
                        {#</figure>#}
                        {#<article>#}
                            {#<span class="date">8 June 2015</span>#}
                            {#<h3><a href="blog-post.html">It has nice clean design</a></h3>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis nascetur ridiculus...</p>#}
                            {#<a href="#" class="cmmt">28</a>#}
                        {#</article>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="col-md-6">#}
                    {#<div class="post clearfix">#}
                        {#<figure>#}
                            {#<a href="#"><img src="{{ asset('assets/images/post2.png') }}" alt="" class="img-responsive" ></a>#}
                        {#</figure>#}
                        {#<article>#}
                            {#<span class="date">14 September 2015</span>#}
                            {#<h3><a href="blog-post.html">Experienced real estate brokers</a></h3>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis nascetur ridiculus...</p>#}
                            {#<a href="#" class="cmmt">7</a>#}
                        {#</article>#}
                    {#</div>#}
                {#</div>#}

            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<!-- BLOG -->#}

    <!-- BANNER -->
    <div class="full-width personal-agent">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <figure>
                        <img style="margin-top: 20%" src="{{ asset('assets/images/logo-CB.png') }}" alt="Pic" class="img-responsive">
                    </figure>
                </div>
                <div class="col-md-6 col-sm-6">
                    <article>
                        <h2>Votre agence immobilière</h2>
                        <p>Nous nous tenons à votre disposition pour toutes questions éventuelles, nous sommes à votre écoute pour y répondre.</p>
                        <button type="button" class="btn btn-danger">Poser une question</button>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- BANNER -->

    {#<!-- REVIEWS -->#}
    {#<div class="full-width rewiews">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-4 col-sm-4">#}
                    {#<img src="{{ asset('assets/images/avatar1.png') }}" alt="Avatar" class="img-responsive">#}
                    {#<h6>Jane Ramos</h6>#}
                    {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>#}
                {#</div>#}
                {#<div class="col-md-4 col-sm-4">#}
                    {#<img src="{{ asset('assets/images/avatar1.png') }}" alt="Avatar" class="img-responsive">#}
                    {#<h6>Eva Rodriges</h6>#}
                    {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>#}
                {#</div>#}
                {#<div class="col-md-4 col-sm-4">#}
                    {#<img src="{{ asset('assets/images/avatar1.png') }}" alt="Avatar" class="img-responsive">#}
                    {#<h6>Paul Jones</h6>#}
                    {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<!-- REVIEWS -->#}
{% endblock %}
