{% extends ':front/layout:base.html.twig' %}

{% block body %}
    <div class="flexslider" id="slider">
        <ul class="slides">
            <li>
                <img src="{{ asset('assets/images/slider.jpg') }}" class="img-responsive" alt="Slider Image" />
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="detail">
                                <div class="white">
                                    <h2>House<br>with Ghosts</h2>
                                    <span class="slide-location">South Beach, Miami (USA)</span>
                                    <div class="bar"></div>
                                    <span class="slide-price">$ 1 525 000</span>
                                </div>
                                <div class="red">
                                    <span class="bath">3 Bathroom</span>
                                    <span class="bed">2 Bedrooms</span>
                                    <span class="gym">1 Gym</span>
                                    <span class="pool">2 Pool</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="{{ asset('assets/images/slider.jpg') }}" class="img-responsive" alt="Slider Image" />
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="detail">
                                <div class="white">
                                    <h2>House<br>with Ghosts</h2>
                                    <span class="slide-location">South Beach, Miami (USA)</span>
                                    <div class="bar"></div>
                                    <span class="slide-price">$ 1 525 000</span>
                                </div>
                                <div class="red">
                                    <span class="bath">3 Bathroom</span>
                                    <span class="bed">2 Bedrooms</span>
                                    <span class="gym">1 Gym</span>
                                    <span class="pool">2 Pool</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- SLIDER -->

    <!-- FILTER -->
    <div class="container">
        <div class="filter">

            <select class="location">
                <option>Location</option>
                <option>London</option>
                <option>Paris</option>
                <option>New York</option>
            </select>

            <select class="cata">
                <option>Category</option>
                <option>Land</option>
                <option>Plots</option>
                <option>Commercial</option>
            </select>

            <select class="type">
                <option>Type</option>
                <option>Buy</option>
                <option>Sell</option>
                <option>Rent</option>
            </select>

            <select class="type">
                <option>Type</option>
                <option>Buy</option>
                <option>Sell</option>
                <option>Rent</option>
            </select>

            <button type="button" class="btn"><i class="fa fa-search"></i>Search</button>

            <div class="range">
                <p>
                    <label for="price">Price</label>
                    <span>$ <input type="text" id="price" ></span>
                </p>
                <div id="price-range"></div>
            </div>

            <a href="#" class="adv-srch">Advance Search</a>

        </div>
    </div>
    <!-- FILTER -->

    <!-- ITEMS GRID -->
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="item-header clearfix">
                        <h3><a href="#">Los Angles Apartment</a></h3>
                        <span class="favorite"><i class="fa fa-heart"></i>9</span>
                    </div>
                    <figure>
                        <img src="{{ asset('assets/images/items/1.png') }}" alt="" class="img-responsive">
                        <span class="label sale">Sell</span>
                        <div class="overlay">
                            <a href="#" class="btn btn-detail">Detail</a>
                        </div>
                    </figure>
                    <div class="item-detail">
                        <div class="left">
                            <span class="place"><i class="fa fa-map-marker"></i>Galtur (Austria)</span>
                            <span class="bed">3</span>
                            <span class="bath">2</span>
                            <span class="garage">2</span>
                            <span class="gym">1</span>
                        </div>
                        <div class="right">
                            <span class="area">134 m2</span>
                            <span class="price">$ 870000</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="item-header clearfix">
                        <h3><a href="#">Los Angles Apartment</a></h3>
                        <span class="favorite"><i class="fa fa-heart"></i>9</span>
                    </div>
                    <figure>
                        <img src="{{ asset('assets/images/items/2.png') }}" alt="" class="img-responsive">
                        <span class="label rent">Rent</span>
                        <div class="overlay">
                            <a href="#" class="btn btn-detail">Detail</a>
                        </div>
                    </figure>
                    <div class="item-detail">
                        <div class="left">
                            <span class="place"><i class="fa fa-map-marker"></i>Galtur (Austria)</span>
                            <span class="bed">3</span>
                            <span class="bath">2</span>
                            <span class="garage">2</span>
                            <span class="gym">1</span>
                        </div>
                        <div class="right">
                            <span class="area">134 m2</span>
                            <span class="price">$ 870000</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="item-header clearfix">
                        <h3><a href="#">Los Angles Apartment</a></h3>
                        <span class="favorite"><i class="fa fa-heart"></i>9</span>
                    </div>
                    <figure>
                        <img src="{{ asset('assets/images/items/3.png') }}" alt="" class="img-responsive">
                        <span class="label rent">Rent</span>
                        <div class="overlay">
                            <a href="#" class="btn btn-detail">Detail</a>
                        </div>
                    </figure>
                    <div class="item-detail">
                        <div class="left">
                            <span class="place"><i class="fa fa-map-marker"></i>Galtur (Austria)</span>
                            <span class="bed">3</span>
                            <span class="bath">2</span>
                            <span class="garage">2</span>
                            <span class="gym">1</span>
                        </div>
                        <div class="right">
                            <span class="area">134 m2</span>
                            <span class="price">$ 870000</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="item-header clearfix">
                        <h3><a href="#">Los Angles Apartment</a></h3>
                        <span class="favorite"><i class="fa fa-heart"></i>9</span>
                    </div>
                    <figure>
                        <img src="{{ asset('assets/images/items/4.png') }}" alt="" class="img-responsive">
                        <span class="label hot">Hot</span>
                        <div class="overlay">
                            <a href="#" class="btn btn-detail">Detail</a>
                        </div>
                    </figure>
                    <div class="item-detail">
                        <div class="left">
                            <span class="place"><i class="fa fa-map-marker"></i>Galtur (Austria)</span>
                            <span class="bed">3</span>
                            <span class="bath">2</span>
                            <span class="garage">2</span>
                            <span class="gym">1</span>
                        </div>
                        <div class="right">
                            <span class="area">134 m2</span>
                            <span class="price">$ 870000</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="item-header clearfix">
                        <h3><a href="#">Los Angles Apartment</a></h3>
                        <span class="favorite"><i class="fa fa-heart"></i>9</span>
                    </div>
                    <figure>
                        <img src="{{ asset('assets/images/items/5.png') }}" alt="" class="img-responsive">
                        <span class="label rent">Rent</span>
                        <div class="overlay">
                            <a href="#" class="btn btn-detail">Detail</a>
                        </div>
                    </figure>
                    <div class="item-detail">
                        <div class="left">
                            <span class="place"><i class="fa fa-map-marker"></i>Galtur (Austria)</span>
                            <span class="bed">3</span>
                            <span class="bath">2</span>
                            <span class="garage">2</span>
                            <span class="gym">1</span>
                        </div>
                        <div class="right">
                            <span class="area">134 m2</span>
                            <span class="price">$ 870000</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="item-header clearfix">
                        <h3><a href="#">Los Angles Apartment</a></h3>
                        <span class="favorite"><i class="fa fa-heart"></i>9</span>
                    </div>
                    <figure>
                        <img src="images/items/6.png" alt="" class="img-responsive">
                        <span class="label sale">Sell</span>
                        <div class="overlay">
                            <a href="#" class="btn btn-detail">Detail</a>
                        </div>
                    </figure>
                    <div class="item-detail">
                        <div class="left">
                            <span class="place"><i class="fa fa-map-marker"></i>Galtur (Austria)</span>
                            <span class="bed">3</span>
                            <span class="bath">2</span>
                            <span class="garage">2</span>
                            <span class="gym">1</span>
                        </div>
                        <div class="right">
                            <span class="area">134 m2</span>
                            <span class="price">$ 870000</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ITEMS GRID -->

    <!-- FACTS -->
    <div class="facts_wrap animated">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="clearfix row">
                        <li class="counter col-md-3 col-sm-3">
                            <div>
                                <figure><img src="images/fact1.png" alt=""></figure>
                                <small>Apartments</small>
                                <span data-fact="2518">0000</span>
                            </div>
                        </li>
                        <li class="counter col-md-3 col-sm-3">
                            <div>
                                <figure><img src="images/fact2.png" alt=""></figure>
                                <small>Industrial</small>
                                <span data-fact="1007">0000</span>
                            </div>
                        </li>
                        <li class="counter col-md-3 col-sm-3">
                            <div>
                                <figure><img src="images/fact3.png" alt=""></figure>
                                <small>Houses</small>
                                <span data-fact="2119">0000</span>
                            </div>
                        </li>
                        <li class="counter col-md-3 col-sm-3">
                            <div>
                                <figure><img src="images/fact4.png" alt=""></figure>
                                <small>Commercial</small>
                                <span data-fact="507">000</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- FACTS -->

    <!-- ITEMS GRID -->
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="item-header clearfix">
                        <h3><a href="#">Los Angles Apartment</a></h3>
                        <span class="favorite"><i class="fa fa-heart"></i>9</span>
                    </div>
                    <figure>
                        <img src="images/items/7.png" alt="" class="img-responsive">
                        <span class="label sale">Sell</span>
                        <div class="overlay">
                            <a href="#" class="btn btn-detail">Detail</a>
                        </div>
                    </figure>
                    <div class="item-detail">
                        <div class="left">
                            <span class="place"><i class="fa fa-map-marker"></i>Galtur (Austria)</span>
                            <span class="bed">3</span>
                            <span class="bath">2</span>
                            <span class="garage">2</span>
                            <span class="gym">1</span>
                        </div>
                        <div class="right">
                            <span class="area">134 m2</span>
                            <span class="price">$ 870000</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="item-header clearfix">
                        <h3><a href="#">Los Angles Apartment</a></h3>
                        <span class="favorite"><i class="fa fa-heart"></i>9</span>
                    </div>
                    <figure>
                        <img src="images/items/8.png" alt="" class="img-responsive">
                        <span class="label rent">Rent</span>
                        <div class="overlay">
                            <a href="#" class="btn btn-detail">Detail</a>
                        </div>
                    </figure>
                    <div class="item-detail">
                        <div class="left">
                            <span class="place"><i class="fa fa-map-marker"></i>Galtur (Austria)</span>
                            <span class="bed">3</span>
                            <span class="bath">2</span>
                            <span class="garage">2</span>
                            <span class="gym">1</span>
                        </div>
                        <div class="right">
                            <span class="area">134 m2</span>
                            <span class="price">$ 870000</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="item-header clearfix">
                        <h3><a href="#">Los Angles Apartment</a></h3>
                        <span class="favorite"><i class="fa fa-heart"></i>9</span>
                    </div>
                    <figure>
                        <img src="images/items/9.png" alt="" class="img-responsive">
                        <span class="label rent">Rent</span>
                        <div class="overlay">
                            <a href="#" class="btn btn-detail">Detail</a>
                        </div>
                    </figure>
                    <div class="item-detail">
                        <div class="left">
                            <span class="place"><i class="fa fa-map-marker"></i>Galtur (Austria)</span>
                            <span class="bed">3</span>
                            <span class="bath">2</span>
                            <span class="garage">2</span>
                            <span class="gym">1</span>
                        </div>
                        <div class="right">
                            <span class="area">134 m2</span>
                            <span class="price">$ 870000</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="item-header clearfix">
                        <h3><a href="#">Los Angles Apartment</a></h3>
                        <span class="favorite"><i class="fa fa-heart"></i>9</span>
                    </div>
                    <figure>
                        <img src="images/items/10.png" alt="" class="img-responsive">
                        <span class="label hot">Hot</span>
                        <div class="overlay">
                            <a href="#" class="btn btn-detail">Detail</a>
                        </div>
                    </figure>
                    <div class="item-detail">
                        <div class="left">
                            <span class="place"><i class="fa fa-map-marker"></i>Galtur (Austria)</span>
                            <span class="bed">3</span>
                            <span class="bath">2</span>
                            <span class="garage">2</span>
                            <span class="gym">1</span>
                        </div>
                        <div class="right">
                            <span class="area">134 m2</span>
                            <span class="price">$ 870000</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="item-header clearfix">
                        <h3><a href="#">Los Angles Apartment</a></h3>
                        <span class="favorite"><i class="fa fa-heart"></i>9</span>
                    </div>
                    <figure>
                        <img src="images/items/11.png" alt="" class="img-responsive">
                        <span class="label rent">Rent</span>
                        <div class="overlay">
                            <a href="#" class="btn btn-detail">Detail</a>
                        </div>
                    </figure>
                    <div class="item-detail">
                        <div class="left">
                            <span class="place"><i class="fa fa-map-marker"></i>Galtur (Austria)</span>
                            <span class="bed">3</span>
                            <span class="bath">2</span>
                            <span class="garage">2</span>
                            <span class="gym">1</span>
                        </div>
                        <div class="right">
                            <span class="area">134 m2</span>
                            <span class="price">$ 870000</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <div class="item-header clearfix">
                        <h3><a href="#">Los Angles Apartment</a></h3>
                        <span class="favorite"><i class="fa fa-heart"></i>9</span>
                    </div>
                    <figure>
                        <img src="images/items/12.png" alt="" class="img-responsive">
                        <span class="label sale">Sell</span>
                        <div class="overlay">
                            <a href="#" class="btn btn-detail">Detail</a>
                        </div>
                    </figure>
                    <div class="item-detail">
                        <div class="left">
                            <span class="place"><i class="fa fa-map-marker"></i>Galtur (Austria)</span>
                            <span class="bed">3</span>
                            <span class="bath">2</span>
                            <span class="garage">2</span>
                            <span class="gym">1</span>
                        </div>
                        <div class="right">
                            <span class="area">134 m2</span>
                            <span class="price">$ 870000</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ITEMS GRID -->

    <!-- BANNER -->
    <div class="full-width-white design">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <article>
                        <h2>interior Design as gift</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>
                        <button type="button" class="btn btn-danger">learn more</button>
                    </article>
                </div>
                <div class="col-md-7 col-sm-7">
                    <figure>
                        <img src="{{ asset('assets/images/gift-design.png') }}" alt="Image">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!-- BANNER -->

    <!-- BLOG -->
    <div class="full-width home-posts blog-posts">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="post clearfix">
                        <figure>
                            <a href="#"><img src="{{ asset('assets/images/post1.png') }}" alt="" class="img-responsive" ></a>
                        </figure>
                        <article>
                            <span class="date">8 June 2015</span>
                            <h3><a href="blog-post.html">It has nice clean design</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis nascetur ridiculus...</p>
                            <a href="#" class="cmmt">28</a>
                        </article>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="post clearfix">
                        <figure>
                            <a href="#"><img src="{{ asset('assets/images/post2.png') }}" alt="" class="img-responsive" ></a>
                        </figure>
                        <article>
                            <span class="date">14 September 2015</span>
                            <h3><a href="blog-post.html">Experienced real estate brokers</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis nascetur ridiculus...</p>
                            <a href="#" class="cmmt">7</a>
                        </article>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- BLOG -->

    <!-- BANNER -->
    <div class="full-width personal-agent">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <figure>
                        <img src="{{ asset('assets/images/agent-pic.png') }}" alt="Pic" class="img-responsive">
                    </figure>
                </div>
                <div class="col-md-8 col-sm-8">
                    <article>
                        <span>Lara Loft</span>
                        <h2>Your personal agent</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget<br> dolor. Aenean massa.</p>
                        <button type="button" class="btn btn-danger">Get Agent Help</button>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- BANNER -->

    <!-- REVIEWS -->
    <div class="full-width rewiews">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img src="{{ asset('assets/images/avatar1.png') }}" alt="Avatar" class="img-responsive">
                    <h6>Jane Ramos</h6>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="images/avatar2.png" alt="Avatar" class="img-responsive">
                    <h6>Eva Rodriges</h6>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="images/avatar3.png" alt="Avatar" class="img-responsive">
                    <h6>Paul Jones</h6>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
                </div>
            </div>
        </div>
    </div>
    <!-- REVIEWS -->
{% endblock %}
