<div class="filter text-center">
    <form action="{{ path('app_front_search') }}" method="get">
        <input style="border-radius: 3px;" placeholder="VILLE" name="location" type="text" list="cities" class="location caret-visible type selectBox">
        <datalist id="cities" class="location">
            <option value="">Ville</option>
            <option value="{{ 'APREMONT'|trim }}">Apremont</option>
            <option value="{{ 'AVILLY SAINT LEONARD'|trim }}">Avilly-Saint-Léonard</option>
            <option value="{{ 'BORAN SUR OISE'|trim }}">Boran sur Oise</option>
            <option value="{{ 'BLAINCOURT LES PRECIS'|trim }}">Blaincourt Lès Précis</option>
            <option value="{{ 'CHANTILLY'|trim }}">Chantilly</option>
            <option value="{{ 'COURTEUIL'|trim }}">Courteuil</option>
            <option value="{{ 'CHAUMONTEL'|trim }}">Chaumontel</option>
            <option value="{{ 'COYE LA FORET'|trim }}">Coye-La-Forêt</option>
            <option value="{{ 'FOSSES'|trim }}">Fosses</option>
            <option value="{{ 'GOUVIEUX'|trim }}">Gouvieux</option>
            <option value="{{ 'LA CHAPELLE EN SERVAL'|trim }}">La Chapelle en Serval</option>
            <option value="{{ 'LOUVRES'|trim }}">Louvres</option>
            <option value="{{ 'LAMORLAYE'|trim }}">Lamorlaye</option>
            <option value="{{ 'MOUSSY LE NEUF'|trim }}">Moussy-Le-Neuf</option>
            <option value="{{ 'ORRY LA VILLE'|trim }}">Orry-La-Ville</option>
            <option value="{{ 'PRECY SUR OISE'|trim }}">Précy-Sur-Oise</option>
            <option value="{{ 'PLAILLY'|trim }}">Plailly</option>
            <option value="{{ 'SENLIS'|trim }}">Senlis</option>
            <option value="{{ 'SURVILLIERS'|trim }}">Survilliers</option>
            <option value="{{ 'VINEUIL SAINT FIRMIN'|trim }}">Vineuil-Saint-Firmin</option>
            <option value="{{ 'LUZARCHES'|trim }}">Luzarches</option>
            <option value="{{ 'SAINT WITZ'|trim }}">Saint-Witz</option>
            <option value="{{ 'SAINT LEU D ESSERENT'|trim }}">Saint-Leu-D'Esserent</option>
            <option value="{{ 'VILLERS SOUS SAINT LEU'|trim }}">Villers-Sous Saint-Leu</option>
            <option value="{{ 'VEMARS'|trim }}">Vémars</option>
        </datalist>
        <select name="type" class="cata">
            <option value="">Type de bien</option>
            <option value="maison">Maison</option>
            <option value="appartement">Appartement</option>
        </select>
        <select name="category" class="type">
            <option value="">Catégorie</option>
            <option>Achat</option>
        </select>
        <button type="submit" class="btn"><i class="fa fa-search"></i>Rechercher</button>
        <div class="range text-left">
            <p>
                <label for="price">Prix entre</label>
                <span class="text-white"> €
                    <select style="background-color: white; color: grey; padding: 3px; border-radius: 3px;" class="cata selectBox" name="price-min" id="price-min">
                        {% set count = 0 %}
                        {% for i in 0..40 %}
                            <option value="{{ count }}">{{ count|number_format(0, '.', ' ') }}</option>
                            {% set count = count + 25000 %}
                            {% if loop.index > 20 and loop.index < 25 %}
                                {% set count = count + 40000 %}
                            {% endif %}
                            {% if loop.index > 25  %}
                                {% set count = count + 100000 %}
                            {% endif %}
                        {% endfor %}
                    </select>
                         <span style="margin-left: 10px">et</span>
                    <select style="background-color: white; color: grey; padding: 3px; border-radius: 3px;" name="price-max" class="cata selectBox"  id="price-max" >
                        {% set count = 0 %}
                        {% for i in 0..40 %}
                            {% if loop.index == 40 %}
                                <option selected value="{{ count }}">{{ count|number_format(0, '.', ' ') }}</option>
                            {% else %}
                                <option value="{{ count }}">{{ count|number_format(0, '.', ' ') }}</option>
                            {% endif %}
                            {% set count = count + 25000 %}
                            {% if loop.index > 20 and loop.index < 25 %}
                                {% set count = count + 40000 %}
                            {% endif %}
                            {% if loop.index > 25 %}
                                {% set count = count + 100000 %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </p>
        </div>
    </form>
    <br>
    <a href="{{ path('app_front_property_list') }}" class="adv-srch">Recherche avancée</a>
</div>