<div class="filter">
    <form action="{{ path('app_front_search') }}" method="get">
        <select name="location" class="location">
            <option value="">Ville</option>
            <option value="{{ 'APREMONT'|trim }}">Apremont</option>
            <option value="{{ 'AVILY SAINT LEONARD'|trim }}">Avily-Saint-Léonard</option>
            <option value="{{ 'BORAN SUR OISE'|trim }}">Boran sur Oise</option>
            <option value="{{ 'BLAINCOURT'|trim }}">Blaincourt</option>
            <option value="{{ 'CHANTILY'|trim }}">Chantily</option>
            <option value="{{ 'COURTEUIL'|trim }}">Courteuil</option>
            <option value="{{ 'CHAUMONTEL'|trim }}">Chaumontel</option>
            <option value="{{ 'FOSSES'|trim }}">Fosses</option>
            <option value="{{ 'LA CHAPELLE EN SERVAL'|trim }}">La Chapelle en Serval</option>
            <option value="{{ 'LOUVRES'|trim }}">Louvres</option>
            <option value="{{ 'GOYE LA FORET'|trim }}">Goye La Forêt</option>
            <option value="{{ 'GOUVIEUX'|trim }}">Gouvieux</option>
            <option value="{{ 'LAMORLAYE'|trim }}">Lamorlaye</option>
            <option value="{{ 'ORRY LA VILLE'|trim }}">Orry La Ville</option>
            <option value="{{ 'PRECY SUR OISE'|trim }}">Précy Sur Oise</option>
            <option value="{{ 'PLAILY'|trim }}">Plaily</option>
            <option value="{{ 'SENLIS'|trim }}">Senlis</option>
            <option value="{{ 'SURVILLIERS'|trim }}">Survilliers</option>
            <option value="{{ 'VINEUIL SAINT FIRMIN'|trim }}">Vineuil Saint Firmin</option>
            <option value="{{ 'LUZARCHES'|trim }}">Luzarches</option>
            <option value="{{ 'SAINT WITZ'|trim }}">Saint-Witz</option>
            <option value="{{ 'SAINT LEU D ESSERENT'|trim }}">Saint-Leu-D'Esserent</option>
            <option value="{{ 'VILLERS SOUS SAINT LEU'|trim }}">Villers Sous Saint Leu</option>
            <option value="{{ 'VEMARS'|trim }}">Vémars</option>
            <option value="{{ 'MOUSSY LE NEUF'|trim }}">Moussy Le Neuf</option>
        </select>
        <select name="type" class="cata">
            <option value="">Type de bien</option>
            <option value="house">Maison</option>
            <option value="appartment">Appartement</option>
        </select>
        <select name="category" class="type">
            <option value="">Catégorie</option>
            <option>Achat</option>
        </select>
        <button type="submit" class="btn"><i class="fa fa-search"></i>Rechercher</button>
        <div class="range">
            <p>
                <label for="price">Prix</label>
                <span> €<input name="price" type="text" id="price" > </span>
            </p>
            <div id="price-range"></div>
        </div>
    </form>
    <a href="{{ path('app_front_property_list') }}" class="adv-srch">Recherche avancée</a>
</div>