{% extends ':front/layout:base.html.twig' %}

{% block body %}
    <div class="page-wrap properties-page property-single">
        <!-- BREADCRUMBS-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs">
                        <a href="{{ path('app_front_home') }}">Accueil</a>
                        <span class="sep">/</span>
                        <a href="{{ path('app_front_property_list') }}">Liste des propriétés</a>
                        <span class="sep">/</span>
                        <span class="current">Propriété</span>
                    </div>
                    <h2 class="page-title">{{ property.title }}</h2>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS -->

        <div class="container">

            {#<!-- PROPERTY FILTERS -->#}
            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<div class="property-filter">#}
                        {#<a href="#" class="active">Overview</a>#}
                        {#<a href="#">Living Room</a>#}
                        {#<a href="#">I Bedroom</a>#}
                        {#<a href="#">II Bedroom</a>#}
                        {#<a href="#">Bathroom</a>#}
                        {#<a href="#">Kitchen</a>#}
                        {#<a href="#" class="view-map">View on Map</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<!-- PROPERTY FILTERS -->#}

            <div class="row">

                <!-- PROPERTY SLIDER -->
                <div class="col-md-7 property-slider">
                    <figure id="property-slider">
                        <ul class="slides">
                            {% for media in property.medias|slice(0, 4) %}
                                <li><img src="{{ media.imageUrl }}" style="max-height: 485px" alt="Image" class="img-responsive"></li>
                            {% endfor %}
                        </ul>
                        {#<span class="label sale">Sale</span>#}
                    </figure>
                    <figure id="property-carousel" class="flexslider">
                        <ul class="slides">
                            {% for media in property.medias|slice(0, 4) %}
                                <li><img src="{{ media.imageUrl }}" style="max-height: 135px" alt="Image" class="img-responsive"></li>
                            {% endfor %}
                        </ul>
                    </figure>
                </div>
                <!-- PROPERTY SLIDER -->

                <!-- PROPERTY DATA -->
                <div class="col-md-5 property-data">
                    <div class="prop-features prop-before">
                        <span class="location">{{ property.location.city }} ({{ property.location.country }})</span>
                        <span class="area">{{ property.propertyArea.area }} m2</span>
                    </div>
                    <div class="prop-price">
                        <strong class="price">{{ property.netPrice }} €</strong>
                        <a href="" class="btn btn-danger">Contacter un agent</a>
                    </div>
                    <div class="prop-features">
                        <span><i class="fa fa-bed"></i>{{ property.propertyInside.bedroomQuantity }} Chambres</span>
                        {% if property.propertyInside.bathroomQuantity > 0 %}
                            <span><i class="fa fa-bath"></i>{{ property.propertyInside.bathroomQuantity }} Salles de bains</span>
                        {% elseif property.propertyInside.washroomQuantity > 0 %}
                            <span><i class="fa fa-tint"></i>{{ property.propertyInside.washroomQuantity }} Salles d'eau</span>
                        {% endif %}
                        <span ><i class="fa fa-thermometer-quarter"></i>Cuisine {{ property.propertyInside.kitchen }}</span>
                        {% if property.propertyInside.heatingType %}<span><i class="fa fa-fire"></i>Chauffage {{ property.propertyInside.heatingType }}</span>{% endif %}
                    </div>
                    <ul>
                        {% if property.propertyOutside.garden %}<li>Jardin</li>{% endif %}
                        {% if property.propertyOther.digicode %}<li>Digicode</li>{% endif %}
                        {% if property.propertyOther.intercom %}<li>Interphone</li>{% endif %}
                        {% if property.propertyOther.basement %}<li>Sous-sol</li>{% endif %}
                        {% if property.propertyOther.cellar %}<li>Cave</li>{% endif %}
                        {% if property.propertyOther.parkingSpot %}<li>Parking</li>{% endif %}
                        {% if property.propertyOther.elevator %}<li>Ascenseur</li>{% endif %}
                    </ul>
                    <p class="property-description">
                        {{ property.description }}
                    </p>
                </div>
                <!-- PROPERTY DATA -->
            </div>
        </div>
        {#<!-- GALLERY -->#}
        {#<div class="full-width gallery">#}
            {#<div class="grid">#}
                {#<div class="grid-sizer"></div>#}
                {#<div class="grid-item grid-item-half">#}
                    {#<a href="#"><img src="images/g13.jpg" alt=""><div class="overlay"></div></a>#}
                    {#<a href="#"><img src="images/g11.jpg" alt=""><div class="overlay"></div></a>#}
                    {#<a href="#"><img src="images/g12.jpg" alt=""><div class="overlay"></div></a>#}
                {#</div>#}
                {#<div class="grid-item">#}
                    {#<a href="#"><img src="images/g14.jpg" alt=""><div class="overlay"></div></a>#}
                    {#<a href="#"><img src="images/g15.jpg" alt=""><div class="overlay"></div></a>#}
                {#</div>#}
                {#<div class="grid-item">#}
                    {#<a href="#"><img src="images/g16.jpg" alt=""><div class="overlay"></div></a>#}
                    {#<a href="#"><img src="images/g17.jpg" alt=""><div class="overlay"></div></a>#}
                {#</div>#}
                {#<div class="grid-item">#}
                    {#<a href="#"><img src="images/g18.jpg" alt=""><div class="overlay"></div></a>#}
                    {#<a href="#"><img src="images/g19.jpg" alt=""><div class="overlay"></div></a>#}
                {#</div>#}
                {#<div class="grid-item grid-item-half">#}
                    {#<a href="#"><img src="images/g20.jpg" alt=""><div class="overlay"></div></a>#}
                    {#<a href="#"><img src="images/g13.jpg" alt=""><div class="overlay"></div></a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<!-- GALLERY -->#}
        <div class="container typography">
            <div class="row">
                <h2>Caractéristiques : </h2>
                <table>
                    <thead>
                        <tr>
                            <td>Nom</td>
                            <td>Valeur</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Surface</td>
                            <td>{{ property.propertyArea.area|default('N/A') }} m2</td>
                        </tr>
                        <tr>
                            <td>Surface séjour</td>
                            <td>{{ property.propertyArea.livingRoomArea|default('N/A') }} m2</td>
                        </tr>
                        <tr>
                            <td>Surface terrain</td>
                            <td>{{ property.propertyArea.landArea|default('N/A') }} m2</td>
                        </tr>
                        <tr>
                            <td>Nombre pièces</td>
                            <td>{{ property.propertyInside.roomQuantity|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Cuisine</td>
                            <td>{{ property.propertyInside.kitchen|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Nombre d'étages</td>
                            <td>{{ property.propertyInside.floorNumber|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Cave</td>
                            <td>{{ property.propertyOther.cellar|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Garage</td>
                            <td>{{ property.propertyOther.garageQuantity|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Digicode</td>
                            <td>{{ property.propertyOther.digicode|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Jardin</td>
                            <td>{{ property.propertyOutside.garden|default('N/A') }}</td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <td>Nom</td>
                            <td>Valeur</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nombre chambres</td>
                            <td>{{ property.propertyInside.bedroomQuantity|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Salles de bains</td>
                            <td>{{ property.propertyInside.bathroomQuantity|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Salles d'eau</td>
                            <td>{{ property.propertyInside.washroomQuantity|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Toilettes</td>
                            <td>{{ property.propertyInside.toiletQuantity }}</td>
                        </tr>
                        <tr>
                            <td>Chauffage</td>
                            <td>{{ property.propertyInside.heatingType|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Ascenseur</td>
                            <td>{{ property.propertyOther.elevator|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Parking</td>
                            <td>{{ property.propertyOther.parkingSpot|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Interphone</td>
                            <td>{{ property.propertyOther.intercom|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Sous-sol</td>
                            <td>{{ property.propertyOther.basement|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>Année de construction</td>
                            <td>{{ property.propertyOutside.yearOfConstruction }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="container">
            <h2>Informations supplémentaires :</h2>
            <br>
            <div class="row">
                <!-- INFRASTRUCTURE -->
                <div class="col-md-12 infra-elements">
                    {% if property.location.busProximity > 0 %}
                        <div class="col-md-4">
                            <div class="element">
                                <img src="{{ asset('assets/images/element-bus.png') }}" alt="">
                                <h6>Arrêt de bus</h6>
                                <span class="walk">{{ property.location.busProximity }} min</span>
                                <a href="#" class="loc-marker"><i class="fa fa-map-marker"></i></a>
                            </div>
                        </div>
                    {% endif %}
                    {% if property.location.shopProximity > 0 %}
                        <div class="col-md-4">
                            <div class="element">
                                <img src="{{ asset('assets/images/element-market.png') }}" alt="">
                                <h6>Commerces</h6>
                                <span class="walk">{{ property.location.shopProximity }} km</span>
                                <a href="#" class="loc-marker"><i class="fa fa-map-marker"></i></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- INFRASTRUCTURE -->
            </div>
        </div>

        <!-- ITEMS GRID -->
        <div class="container">
            <h2 class="page-title">Vous pourriez aimer aussi ...</h2>
            <div class="row">
                {% for relatedProperty in relatedProperties %}
                    {% include ':front/default:property_block.html.twig' with {'property': relatedProperty, 'col': 'col-md-4 col-sm-6'} %}
                {% endfor %}
            </div>
        </div>
        <!-- ITEMS GRID -->

    </div>
{% endblock %}