{% extends ':front/layout:base.html.twig' %}

{% block body %}
    <div class="page-wrap properties-page property-single">
        <!-- BREADCRUMBS-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs">
                        <a href="{{ path('app_front_home') }}">Accueil</a>
                        <span class="sep">/</span>
                        <a href="{{ path('app_front_property_list') }}">Liste des propriétés</a>
                        <span class="sep">/</span>
                        <span class="current">Propriété</span>
                    </div>
                    <h2 class="page-title">{{ property.title }}</h2>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS -->

        <div class="container">

            {#<!-- PROPERTY FILTERS -->#}
            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<div class="property-filter">#}
                        {#<a href="#" class="active">Overview</a>#}
                        {#<a href="#">Living Room</a>#}
                        {#<a href="#">I Bedroom</a>#}
                        {#<a href="#">II Bedroom</a>#}
                        {#<a href="#">Bathroom</a>#}
                        {#<a href="#">Kitchen</a>#}
                        {#<a href="#" class="view-map">View on Map</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<!-- PROPERTY FILTERS -->#}

            <div class="row">

                <!-- PROPERTY SLIDER -->
                <div class="col-md-7 property-slider">
                    <figure id="property-slider">
                        <ul class="slides">
                            {% for media in property.medias|slice(0, 4) %}
                                <li><img src="{{ media.imageUrl }}" style="max-height: 485px" alt="Image" class="img-responsive"></li>
                            {% endfor %}
                        </ul>
                        {#<span class="label sale">Sale</span>#}
                    </figure>
                    <figure id="property-carousel" class="flexslider">
                        <ul class="slides">
                            {% for media in property.medias|slice(0, 4) %}
                                <li><img src="{{ media.imageUrl }}" style="max-height: 135px" alt="Image" class="img-responsive"></li>
                            {% endfor %}
                        </ul>
                    </figure>
                </div>
                <!-- PROPERTY SLIDER -->

                <!-- PROPERTY DATA -->
                <div class="col-md-5 property-data">
                    <div class="prop-features prop-before">
                        <span class="location">{{ property.location.city }} ({{ property.location.country }})</span>
                        <span class="area">{{ property.propertyArea.area }} m2</span>
                    </div>
                    <div class="prop-price">
                        <strong class="price">{{ property.netPrice }} €</strong>
                        <a href="" class="btn btn-danger">Contacter un agent</a>
                    </div>
                    <div class="prop-features">
                        <span class="bed">{{ property.propertyInside.bedroomQuantity }} Chambres</span>
                        <span class="garage">{{ property.propertyOther.garageQuantity|default(0) }} Garage</span>
                        <span class="bath">{{ property.propertyInside.bathroomQuantity }} Salle de bains</span>
                        <span class="kitchen">Cuisine {{ property.propertyInside.kitchen }}</span>
                    </div>
                    <ul>
                        {% if property.propertyOutside.garden %}<li>Jardin</li>{% endif %}
                        {% if property.propertyOther.digicode %}<li>Digicode</li>{% endif %}
                        {% if property.propertyOther.intercom %}<li>Interphone</li>{% endif %}
                        {% if property.propertyOther.basement %}<li>Sous-sol</li>{% endif %}
                        {% if property.propertyOther.cellar %}<li>Cave</li>{% endif %}
                        {% if property.propertyOther.parkingSpot %}<li>Parking</li>{% endif %}
                        {% if property.propertyOther.elevator %}<li>Ascenseur</li>{% endif %}
                    </ul>
                    <p class="property-description">
                        {{ property.description }}
                    </p>
                </div>
                <!-- PROPERTY DATA -->
            </div>
        </div>
        {#<!-- GALLERY -->#}
        {#<div class="full-width gallery">#}
            {#<div class="grid">#}
                {#<div class="grid-sizer"></div>#}
                {#<div class="grid-item grid-item-half">#}
                    {#<a href="#"><img src="images/g13.jpg" alt=""><div class="overlay"></div></a>#}
                    {#<a href="#"><img src="images/g11.jpg" alt=""><div class="overlay"></div></a>#}
                    {#<a href="#"><img src="images/g12.jpg" alt=""><div class="overlay"></div></a>#}
                {#</div>#}
                {#<div class="grid-item">#}
                    {#<a href="#"><img src="images/g14.jpg" alt=""><div class="overlay"></div></a>#}
                    {#<a href="#"><img src="images/g15.jpg" alt=""><div class="overlay"></div></a>#}
                {#</div>#}
                {#<div class="grid-item">#}
                    {#<a href="#"><img src="images/g16.jpg" alt=""><div class="overlay"></div></a>#}
                    {#<a href="#"><img src="images/g17.jpg" alt=""><div class="overlay"></div></a>#}
                {#</div>#}
                {#<div class="grid-item">#}
                    {#<a href="#"><img src="images/g18.jpg" alt=""><div class="overlay"></div></a>#}
                    {#<a href="#"><img src="images/g19.jpg" alt=""><div class="overlay"></div></a>#}
                {#</div>#}
                {#<div class="grid-item grid-item-half">#}
                    {#<a href="#"><img src="images/g20.jpg" alt=""><div class="overlay"></div></a>#}
                    {#<a href="#"><img src="images/g13.jpg" alt=""><div class="overlay"></div></a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<!-- GALLERY -->#}

        <div class="container">
            <div class="row">

                <!-- INFRASTRUCTURE -->
                <div class="col-md-12 infra-elements">
                    {% if property.location.busProximity > 0 %}
                        <div class="col-md-4">
                            <h5>Infrastructure Elements</h5>
                            <div class="element">
                                <img src="{{ asset('assets/images/element-bus.png') }}" alt="">
                                <h6>Arrêt de bus</h6>
                                <span class="walk">{{ property.location.busProximity }} min</span>
                                <a href="#" class="loc-marker"><i class="fa fa-map-marker"></i></a>
                            </div>
                        </div>
                    {% endif %}
                    {% if property.location.shopProximity > 0 %}
                        <div class="col-md-4">
                            <h5>Infrastructure Elements</h5>
                            <div class="element">
                                <img src="{{ asset('assets/images/element-market.png') }}" alt="">
                                <h6>Commerces</h6>
                                <span class="walk">{{ property.location.shopProximity }} km</span>
                                <a href="#" class="loc-marker"><i class="fa fa-map-marker"></i></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- INFRASTRUCTURE -->

                <!-- NEARBY PLACES -->
                {#<div class="col-md-7 nearby-places">#}
                    {#<h5>Nearby Attractions</h5>#}
                    {#<div class="element">#}
                        {#<figure>#}
                            {#<img src="images/nearby1.png" alt="Image" class="img-responsive">#}
                        {#</figure>#}
                        {#<h6>Champs Elysees</h6>#}
                        {#<span class="car">In 14 Minutes</span>#}
                        {#<a href="#" class="loc-marker"><i class="fa fa-map-marker"></i></a>#}
                    {#</div>#}
                    {#<div class="element">#}
                        {#<figure>#}
                            {#<img src="images/nearby2.png" alt="Image" class="img-responsive">#}
                        {#</figure>#}
                        {#<h6>South Beach</h6>#}
                        {#<span class="car">In 20 Minutes</span>#}
                        {#<a href="#" class="loc-marker"><i class="fa fa-map-marker"></i></a>#}
                    {#</div>#}
                    {#<div class="element">#}
                        {#<figure>#}
                            {#<img src="images/nearby3.png" alt="Image" class="img-responsive">#}
                        {#</figure>#}
                        {#<h6>Ghosts and The Walking</h6>#}
                        {#<span class="car">In 24 Minutes</span>#}
                        {#<a href="#" class="loc-marker"><i class="fa fa-map-marker"></i></a>#}
                    {#</div>#}
                {#</div>#}
                <!-- NEARBY PLACES -->

            </div>
        </div>

        <!-- BANNER -->
        <div class="full-width personal-agent">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <figure>
                            <img src="images/agent-pic.png" alt="Pic" class="img-responsive">
                        </figure>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <article>
                            <span>Lara Loft</span>
                            <h2>Your personal agent</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget<br> dolor. Aenean massa.</p>
                            <button type="button" class="btn btn-danger">Get Agent Help</button>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <!-- BANNER -->

        <!-- ITEMS GRID -->
        <div class="container">
            <h2 class="page-title">Vous pourriez aimer aussi ...</h2>
            <div class="row">
                {% for relatedProperty in relatedProperties %}
                <div class="col-md-4 col-sm-6">
                    <div class="item">
                        <div class="item-header clearfix">
                            <h3>{{ relatedProperty.location.city }} {{ relatedProperty.type }}</h3>
                        </div>
                        <figure>
                            <img src="{% if relatedProperty.medias.0.imageUrl is defined %}{{ relatedProperty.medias.0.imageUrl }}{% endif %}" alt="" class="img-responsive">
                            <div class="overlay">
                                <a href="{{ path('app_front_property_show', {'id' : relatedProperty.affId}) }}" class="btn btn-detail">Voir</a>
                            </div>
                        </figure>
                        <div class="item-detail">
                            <div class="left">
                                <span class="place"><i class="fa fa-map-marker"></i>{{ relatedProperty.location.city }} ({{ relatedProperty.location.country }})</span>
                                <span class="bed">{{ relatedProperty.propertyInside.bedroomQuantity }}</span>
                                <span class="bath">{{ relatedProperty.propertyInside.bathroomQuantity }}</span>
                                <span class="garage">{{ property.propertyOther.garageQuantity|default(0) }}</span>
                            </div>
                            <div class="right">
                                <span class="area">{{ relatedProperty.propertyArea.area|default('N/A') }} m2</span>
                                <span class="price">{{ relatedProperty.netPrice }} €</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- ITEMS GRID -->

    </div>
{% endblock %}